---
import { Icon } from 'astro-icon/components';

type Props = {
  href: string;
};

const { href } = Astro.props as Props;
---

<a
  download
  class="text-gray-500 hover:text-picton-blue-600 dark:text-gray-400"
  href={href}
  rel="noopener noreferrer"
>
  <Icon name="mdi:download" class="h-6 w-6" />
</a>
